.btn {
  border: none;
  outline: none;
  padding: 1rem 2rem;
  background-color: var(--color-blue);
  color: var(--color-white);
  font-family: inherit;
  font-weight: 700;
  font-size: 1.6rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 20rem;
  transform: scale(1);
  transition: var(--transition);
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 20rem;
    box-shadow: var(--box-shadow);
    opacity: 0;
    transition: var(--transition);
  }

  &:hover {
    transform: scale(1.05);
    background-color: var(--color-blue50);
    cursor: pointer;

    &::before {
      opacity: 1;
    }
  }

  &:active {
    transform: scale(1);
    background-color: var(--color-blue);
    transition-duration: 0.1s;
  }
}
