.userCard {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  transition: var(--transition);
  transform: scale(1);

  &:hover {
    transform: scale(1.01);
  }
}
